{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <h1>Blogs</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Board</th>
          <th>Posts</th>
          <th>Topics</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        <tr>  
        <td>django</td>  
        <td>1data</td>  
        <td>0</td>  
        <td>0</td> 
    </tr>  
    <tr>  
        <td>python</td>  
        <td>2data</td>  
        <td>0</td> 
        <td>0</td>  
    </tr>  
   <tr>  
        <td>java</td>  
        <td>3data</td>  
        <td>0</td>  
        <td>0</td> 
    </tr>  
      </tbody>
    </table>
  </body>
</html>